@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Pattaya&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
body {
  background-color: #edf0fe !important;
  font-family: "Poppins";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
}

::-webkit-scrollbar-thumb-y {
  opacity: 0;
  position: fixed;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  background-color: #b6b6b6;
  position: fixed;
}

:hover::-webkit-scrollbar {
  opacity: 0;
  position: fixed;
}
